.detail-specialty-container {
  .detail-specialty-header {
    margin: 12px 270px;

    li {
      margin-left: 30px;
    }
  }

  .detail-specialty-body {
    background-color: #eeeeee;
    padding: 15px;

    .search-sp-doctor {
      margin: 12px 270px;
    }

    .detail-specialty-content {
      display: flex;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 1px 6px #eee;
      border-radius: 8px;

      margin: 12px 270px;

      .ds-content-left {
        width: 50%;
        border-right: 1px #ddd solid;
        padding-right: 10px;

        .profile {
        }
      }

      .ds-content-right {
        width: 50%;

        .schedule {
          padding-left: 10px;
          padding-bottom: 5px;

          .doctor-schedule-content {
            height: 100%;
            border-right: unset !important;
          }
        }

        .extra {
          .doctor-extra-info-container {
            padding-top: 5px !important;
          }

          border-top: 1px solid #eee;
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .detail-specialty-header,
  .detail-specialty-content {
    margin: 12px 100px !important;
  }
  .search-sp-doctor {
    margin: 12px 100px !important;
  }
}

@media screen and (max-width: 1200px) {
  .detail-specialty-header,
  .detail-specialty-content {
    margin: 12px 50px !important;
  }
  .search-sp-doctor {
    margin: 12px 50px !important;
  }
}
@media screen and (max-width: 992px) {
  .detail-specialty-header,
  .detail-specialty-content {
    margin: 12px 20px !important;
  }
  .search-sp-doctor {
    margin: 12px 20px !important;
  }
}
@media screen and (max-width: 768px) {
  .detail-specialty-header,
  .detail-specialty-content {
    margin: 12px 14px !important;
  }
  .search-sp-doctor {
    margin: 12px 14px !important;
  }
}
@media screen and (max-width: 576px) {
  .detail-specialty-content {
    display: flex !important;
    flex-direction: column !important;
    .ds-content-left {
      width: 100% !important;
      border-right: none !important;
    }
    .ds-content-right {
      margin-top: 10px;
      width: 100% !important;
    }
  }
  .content-right {
    .down {
      line-height: 24px !important;
    }
  }
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 376px) {
}
