.doctor-schedule-content {
    height      : 100%;
    border-right: 1px solid #ddd;

    .all-schedule {
        select {
            border-bottom: 1px solid #ddd;
            border-top   : none;
            border-left  : none;
            border-right : none;
            cursor       : pointer;
            padding      : 3px;
            color        : #337ab7;
            font-weight  : 600;
            outline      : none;
            width        : 140px;

            option {
                cursor: pointer;
            }
        }
    }

    .all-available-time {
        .text-calendar {
            margin: 10px 0;
            color : #333;

            span {
                text-transform: uppercase;
                margin-left   : 10px;
            }
        }

        .time-content {
            display       : flex;
            gap           : 15px;
            flex-wrap     : wrap;
            flex-direction: column;

            button {
                padding         : 8px 10px;
                border          : none;
                outline         : none;
                background-color: #fff04b;
                cursor          : pointer;
                min-width       : 120px;
                color           : #333;
                font-weight     : 600;

                &:hover {
                    background-color: #45c3d2;
                    color           : white
                }


            }

            .time-content-btns {
                gap       : 15px;
                display   : flex;
                flex-wrap : wrap;
                margin-top: 15px;

                .btn-vi {
                    min-width: 120px;
                }

                .btn-en {
                    min-width: 170px;
                }
            }


            .no-schedule {
                margin-top: 35px;
                font-size : 14px;
                font-style: italic;
            }

            .book-free {
                margin-top: 5px;
            }
        }
    }
}