.profile-doctor-container {
    .intro-doctor {
        display   : flex;
        // margin : 0 250px;
        // padding: 20px 0px;

        .content-left {
            width: 20%;

            background-size    : cover;
            background-repeat  : no-repeat;
            background-position: center;
            width              : 90px;
            height             : 90px;
            border-radius      : 50%;
            // margin       : 20px;
        }

        .content-right {
            width: calc(100% - 90px);

            display       : flex;
            flex-direction: column;
            padding-left  : 10px;
            margin-top    : 15px;

            .up {
                // font-size  : 27px;
                font-weight: bold;
            }

            .down {
                // font-size: 13px;
                text-align: justify;
                // width: 42%;

            }
        }
    }
}