.section-handbook {

    .handbook-container {

        padding      : 0 380px 50px 380px;
        background   : #f5f5f5;
        border-bottom: #efeef5 solid 3px;

        .handbook-header {

            padding: 30px 13px 30px 0;

        }

        .handbook-body {
            .section-customize {
                display: flex !important;


                .handbook-name {
                    width    : 56%;
                    font-size: 17px;

                    margin-left: 10px;

                    &:hover {
                        color: #45c3d5
                    }

                }
            }
        }

    }
}