.section-doctor-good {
    .outstandingdoctor-container {
        .outstandingdoctor-header {
            padding   : 20px 16px;
            border-top: 1px solid #e9e8e8;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
        }

        .outstandingdoctor-body {
            .section-customize {
                .customize-borders {
                    border: none;

                    .out-bg-good {
                        display      : flex;
                        padding      : 21px 10px;
                        border-bottom: 1px solid #e9e8e8;

                        .bg-image {
                            width : 70px;
                            height: 70px;
                        }

                    }

                    .posittion {
                        margin-top : 20px;
                        margin-left: 13px;
                    }
                }
            }
        }
    }
}