.section-se {
    .specialty-container {
        .specialty-header {
            padding   : 20px 16px;
            border-top: 1px solid #e9e8e8;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

        }

        .specialty-body {
            .section-customize {

                display      : flex;
                padding      : 21px 10px;
                border-bottom: 1px solid #e9e8e8;

                .bg-image {
                    height: 100px;
                    width : 150px;
                }

                .specialty-name {
                    margin-top : 0px;
                    margin-left: 13px;
                    font-size  : 14px;
                }
            }

        }
    }
}