.section-se {
  .specialty-container {
    .specialty-header {
      padding: 20px 16px;
      border-top: 1px solid #e9e8e8;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .specialty-body {
      .section-customize {
        display: flex;
        padding: 21px 10px;
        border-bottom: 1px solid #e9e8e8;
        width: 100% !important;
        .bg-image {
          height: 100px;
          width: 150px;
        }

        .specialty-name {
          margin-top: 0px;
          margin-left: 13px;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .section-se {
    .specialty-container {
      padding: 0 !important;
      .specialty-body .section-customize {
        padding: 21px 10px !important;
        .specialty-name {
          font-size: 14px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  .section-se {
    .specialty-container .specialty-body .section-customize {
      .bg-image {
        height: 100px !important;
        width: 150px !important;
      }
    }
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 376px) {
}
